article {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;

  img {
    width: 80%;
    margin: auto;
    display: block;
  }
}

.cardInner {
  position: relative;
  height: 453px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border: 10px solid grey; /* #3d7a6bb3 */
  background-color: grey;
  width: calc(100% - 20px);
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.74);
  box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.74);
}

article[data-reverse='true'] .cardInner {
  //   .box:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardBack {
  color: #eeeeee;
  transform: rotateY(180deg);
  background-image: url('../../assets/pokemonBack.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 2;

  & {
    a {
      background-color: #ffcb05;
      color: #305f88;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 20px;
      font-weight: bold;
      border: 3px solid #305f88;
      border-radius: 5px;
    }
  }
}

picture {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5); /* #3d7a6b80 */
  position: relative;
  border-radius: 0 0 10px 10px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 15px;
}

h2 {
  text-align: center;
}

.types {
  color: #fff;
  padding: 8px 16px;
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9em;
}

.addToPokedex {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  img {
    width: inherit;
  }
}
